<!DOCTYPE html>
<!--
  Ethereal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Ben Stein, FYI</title>
    <%= stylesheet_link_tag 'application',
    media: 'all' %>
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'skel' %>
    <%= javascript_include_tag 'main' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  </head>

  <body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Wrapper -->
      <div id="wrapper">
        
        <%= render 'pages/intro' %>
        <%= render 'pages/spotlight' %>
        <%= render 'pages/skills' %>
        <%= render 'pages/experience' %>
        <%= render 'pages/projects' %>
        <%= render 'pages/vitals' %>
        <%= render 'pages/contact' %>
        <%= yield %>

        <!-- Copyright -->
        <div class="copyright">&copy; Ben Stein. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>
      </div>
    </div>
  </body>
</html>
